**__pycache__**
**build**
**egg-info**
**dist**
*.pyc
venv/
*.idea/
*.so
*.sh
*.pth
*.pkl
*.zip
*.bin
output
version.py
*.png
*/external_libs/*
keys
temp_files/*
*.DS_Store
*.editorconfig
*.vscode
data/benchmark/*